<section class="wrap">
  <h1>Добавить поле</h1>
  <p class="text">Заполните данную форму и администрация рассмотрит вашу заявку</p>

  <form id="form" class="add-form">
    <div>
      <p>Информация о поле</p>

      <p class="add-form__text">Название</p>
      <input type="text" placeholder="Название">
      <p class="add-form__text">Адрес</p>
      <input type="text" placeholder="Адрес">

      <p class="add-form__text">Средний чек</p>
      <input type="text" placeholder="Средний чек, ₸ ">
    </div>

    <div>
      <p>Фотографии поля</p>
    </div>

    <div>
      <p>Ваши контактные данные</p>

      <p class="add-form__text">Имя и Фамилия</p>

      <input type="text" placeholder="Имя и Фамилия">
      <p class="add-form__text">Номер телефона</p>
      <input type="text" placeholder="Номер телефона">

      <p class="add-form__text">Должность</p>
      <input type="text" placeholder="Должность">
    </div>
  </form>
  <button form="form" type="submit" class="add__btn">Добавить поле</button>
</section>
