<div class="container">
  <div class="links">
    <a class="disabled-link">Главная / </a><a class="link">Контакты</a>
  </div>
  <div class="contacts-container">
    <p class="contacts">Контакты</p>
    <div class="flex-container">
      <div class="flex-item left">
        <p class="flex-item-title">Наша команда</p>
        <div class="team">
          <div>
            <img class="avatar" src="assets/images/empty_avatar.svg">
            <p class="name">Name Surname</p>
            <p class="place">Back-end разработчик</p>

            <p class="contacts-label">Социальные сети:</p>
            <div class="socials">
              <img class="first-icon" src="assets/icons/insta.svg">
              <img src="assets/icons/github.svg">
            </div>
          </div>

        </div>
        <div class="team">
          <div>
            <img class="avatar" src="assets/images/empty_avatar.svg">
            <p class="name">Name Surname</p>
            <p class="place">Front-end разработчик</p>
            <p class="contacts-label">Социальные сети:</p>
            <div class="socials">
              <img class="first-icon" src="assets/icons/insta.svg">
              <img src="assets/icons/github.svg">
            </div>

          </div>

        </div>
        <div class="team">
          <div>
            <img class="avatar" src="assets/images/empty_avatar.svg">
            <p class="name">Name Surname</p>
            <p class="place">Back-end разработчик</p>
            <p class="contacts-label">Социальные сети:</p>
            <div class="socials">
              <img class="first-icon" src="assets/icons/insta.svg">
              <img src="assets/icons/github.svg">
            </div>

          </div>

        </div>
        <div class="team">
          <div>
            <img class="avatar" src="assets/images/empty_avatar.svg">
            <p class="name">Name Surname</p>
            <p class="place">Front-end разработчик</p>
            <p class="contacts-label">Социальные сети:</p>
            <div class="socials">
              <img class="first-icon" src="assets/icons/insta.svg">
              <img src="assets/icons/github.svg">
            </div>

          </div>
        </div>
      </div>

      <div class="flex-item right">
        <p class="flex-item-title2">Наши контактные данные</p>
        <p class="contacts-label">Телефоны:</p>
        <p class="contacts-data">+7 700 322 46 69</p>
        <p class="contacts-data">+7 700 322 46 69</p>
        <p class="email">E-mail:</p>
        <p class="contacts-data">info@coart-service.kz</p>
        <p>Социальные сети</p>
        <div class="socials">
          <img  src="assets/icons/insta.svg">
          <img src="assets/icons/github.svg">
          <img src="assets/icons/youtube.svg">
        </div>
      </div>
    </div>

  </div>

</div>
