<div class="container">
  <div class="links">
    <a class="disabled-link">Главная / </a><a class="link">Контакты</a>
  </div>
  <div class="contacts-container">
    <p class="contacts">Контакты</p>
    <div class="flex-container">
      <div class="flex-item left">
        <p class="flex-item-title">Наша команда</p>
        <div class="box">
          <div class="team">
            <div>
              <div class="team__img">
                <img class="avatar" src="https://avatars.githubusercontent.com/u/43029544?v=4">
              </div>
              <div class="center">
                <p class="name">Айдын Джусупов</p>
                <p class="place">Back-end разработчик</p>
              </div>
              <p class="contacts-label">Социальные сети:</p>

              <div class="socials">
                <div class="socials__wrap">
                  <img class="first-icon" src="assets/icons/insta.svg">
                  <p>@aidynjs</p>
                </div>
                <div class="socials__wrap">
                  <img class="first-icon" src="assets/icons/github.svg">
                  <a href="https://github.com/jussupov" target="_blank">github.com/jussupov/</a>
                </div>
              </div>
            </div>

          </div>
          <div class="team">
            <div>
              <div class="team__img">
                <img class="avatar" src="https://avatars.githubusercontent.com/u/44460955?v=4">
              </div>
              <div class="center">
                <p class="name">Исабаев Чингисхан</p>
                <p class="place">Front-end разработчик</p>
              </div>
              <p class="contacts-label">Социальные сети:</p>
              <div class="socials">
                <div class="socials__wrap">
                  <img class="first-icon" src="assets/icons/insta.svg">
                  <p>@ching1s</p>
                </div>
                <div class="socials__wrap">
                  <img class="first-icon" src="assets/icons/github.svg">
                  <a href="https://github.com/Ch1ngiskhan" target="_blank">github.com/Ch1ngiskhan</a>
                </div>
              </div>

            </div>

          </div>
          <div class="team">
            <div>
              <div class="team__img">
                <img class="avatar" src="https://i.pinimg.com/originals/1e/e3/ff/1ee3ffd5820e2585483f8c1ec84bc970.jpg">
              </div>
              <div class="center">
                <p class="name">Алим Едильбаев</p>
                <p class="place">Back-end разработчик</p>
              </div>
              <p class="contacts-label">Социальные сети:</p>
              <div class="socials">
                <div class="socials__wrap">
                  <img class="first-icon" src="assets/icons/insta.svg">
                  <p>@alim_mkfan</p>
                </div>
                <div class="socials__wrap">
                  <img class="first-icon" src="assets/icons/github.svg">
                  <a href="https://github.com/ALIMYE" target="_blank">github.com/ALIMYE</a>
                </div>
              </div>

            </div>

          </div>
          <div class="team">
            <div>
              <div class="team__img">
                <img class="avatar" src="https://im0-tub-kz.yandex.net/i?id=ed8e037dd1be9f6167f285e6159c4935-l&n=13">
              </div>
              <div class="center">
                <p class="name">Рустам Баймуканов</p>
                <p class="place">Front-end разработчик</p>
              </div>
              <p class="contacts-label">Социальные сети:</p>
              <div class="socials">
                <div class="socials__wrap">
                  <img class="first-icon" src="assets/icons/insta.svg">
                  <p>@baimukanovrustam</p>
                </div>
                <div class="socials__wrap">
                  <img class="first-icon" src="assets/icons/github.svg">
                  <a href="https://github.com/rustamwk99" target="_blank">github.com/rustamwk99</a>
                </div>
              </div>

            </div>
          </div>

          <div class="team">
            <div>
              <div class="team__img">
                <img class="avatar" src="https://avatars.githubusercontent.com/u/73462524?v=4">
              </div>
              <div class="center">
                <p class="name">Алибек Намазбаев</p>
                <p class="place">Project Manager</p>
              </div>
              <p class="contacts-label">Социальные сети:</p>
              <div class="socials">
                <div class="socials__wrap">
                  <img class="first-icon" src="assets/icons/insta.svg">
                  <p>@alibek.gelato</p>
                </div>
                <div class="socials__wrap">
                  <img class="first-icon" src="assets/icons/github.svg">
                  <a href="https://github.com/AlibekNamazbayev" target="_blank">github.com/AlibekNamazbayev</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="flex-item right">
        <p class="flex-item-title2">Наши контактные данные</p>
        <p class="contacts-label">Телефоны:</p>
        <p class="contacts-data">+7 747 357 4202</p>
        <p class="contacts-data">+7 776 230 80 06</p>
        <p class="email">E-mail:</p>
        <p class="contacts-email">info@coart-service.kz</p>
        <p>Социальные сети</p>
        <div class="items">
          <img src="assets/icons/insta.svg">
          <img src="assets/icons/github.svg">
          <img src="assets/icons/youtube.svg">
        </div>
      </div>
    </div>

  </div>

</div>
