<div class="container">
  <div class="links">
    <a class="disabled-link">Главная / </a><a class="link">История бронирований</a>
  </div>
  <div class="fieleds-container">
    <div class="top-slider">
      <p>История бронирований</p>
      <div class="slider">

      <div *ngFor="let field of fields" class="slider-item">
        <div class="item-container">
          <p class="date">{{field.date}}</p>
          <div class="flex-container">
            <div class="flex-container__flex-item">
              <img class="field-image" src="assets/images/{{field.image}}">
            </div>
            <div class="flex-container__flex-item">
              <p class="field-name info">{{field.name}}</p>
              <p class="field-info info">{{field.description}}</p>
              <p class="field-info info">{{field.address}}</p>
            </div>
          </div>

          <button class="details" (click)="getFieldDetails(field)">Подробнее</button>

        </div>




      </div>
      </div>

    </div>
    <div class="bottom-slider">
      <p>Предыдущие бронирования</p>
      <div class="slider">

        <div *ngFor="let field of fields" class="slider-item">
          <div class="item-container">
            <p class="date">{{field.date}}</p>
            <div class="flex-container">
              <div class="flex-container__flex-item">
                <img class="field-image" src="assets/images/{{field.image}}">
              </div>
              <div class="flex-container__flex-item">
                <p class="field-name info">{{field.name}}</p>
                <p class="field-info info">{{field.description}}</p>
                <p class="field-info info">{{field.address}}</p>
              </div>
            </div>
            <button class="details" (click)="getFieldDetails(field)">Подробнее</button>

          </div>




        </div>
      </div>

    </div>
  </div>
</div>


