body {
  max-height: 700px;
  background-image: url("~/assets/images/main.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

p {
  width: 505px;
  font-size: 48px;
  line-height: 60px;
  color: #FDFDFD;
  margin-left: 70px;
}

input {
  outline: none;
  border: none;
  cursor: pointer;
  width: 50%;
  color: #C2C2C2;
}

.search-bar {
  width: 483px;
  height: 78px;
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 46px 0 0 70px;

  img {
    margin: 0 14px 0 32px;
  }

  &__btn {
    border: 0;
    outline: none;
    background: #4965F9;
    color: #fff;
    border-radius: 10px;
    width: 166px;
    height: 66px;
  }
}

.search {
  height: 700px;
  background-image: url("~/assets/images/main.svg");
  background-repeat: no-repeat;
  padding-top: 180px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 24px;
}

.fields {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 30px 40px;
}

.field {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  width: 290px;
  border-radius: 14px;
  margin: 10px 20px;
  padding: 8px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  max-height: 267px;

  .image {
    height: 100%;
    width: 100%;
    border-radius: 14px;
    margin-bottom: 10px;
  }

  &__add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 160px;
    background: #66D26A;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 24px;
    color: #FDFDFD;

    &-icon {
      color: #FDFDFD;
      margin-left: 10px;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;

    &-address {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 200px;
    }

    span {
      color: #C2C2C2;
      font-size: 12px;
      line-height: 15px;
    }
  }

  &__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
  }

  &__rating {
    display: flex;
    color: #E8D531;

    img {
      margin-left: 8px;
    }
  }
}

.like {
  position: absolute;
  right: 24px;
  top: 24px;
}

.btn {
  background: black;
  border-radius: 0;
  color: white;
  margin-bottom: 8px;
}

.navbar {
  background: rgba(192, 57, 43, 1);
  color: #fff;
}

.title {
  margin: 0 0 20px 52px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.asd {
  width: 100%;
  height: 200px;
  background-size: contain;
  margin-bottom: 10px;
}

.wrap {
  display: flex;
  justify-content: space-between;
}
