.reserve {
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 679px;
  padding: 20px;
  margin: 0 auto;
}

.next-step {
  border: none;
  outline: none;
  border-radius: 8px;
  background: #66D26A;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  width: 100%;
  height: 40px;
  margin-top: 40px;
}
