.box {
  display: flex;
  justify-content: space-evenly;
  margin-left: 40%;
  align-items: center;
}

.navigation {
  display: flex;
  li {
    display: flex;
    margin-right: 67px;
  }

  .marker {
    margin: 0 10px;
  }
}

.registration__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FDFDFD;
  font-size: 15px;
  line-height: 19px;
  background: #4965F9;
  border-radius: 6px;
  outline: none;
  border: 0;
  padding: 4px;
  width: 120px;
  height: 28px;
}

.sign__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 19px;
  outline: none;
  border: 0;
  background: white;
}
a{
  text-decoration: none;
  color: #303030;
}
