<header>
  <div class="box">
    <ul class="navigation">
      <li><a class="link" [routerLink]="['/']">Новости</a></li>
      <li><a class="link" [routerLink]="['/contacts']">Контакты</a></li>
      <li>
        <a href="#search" class="link">
        Поиск в <img class="marker" src="./assets/icons/marker.svg" alt="">
        Алматы
          <img class="arrow" src="/assets/icons/arrow-bottom.svg" alt="">
        </a>
      </li>
    </ul>
    <button class="registration__btn" [routerLink]="['/registration']">Регистрация</button>
    <button class="sign__btn" [routerLink]="['/login']">
        <img src="assets/icons/profile.svg" alt="">
      Войти</button>
  </div>

</header>

