<div class="container">
  <div class="links">
    <a class="disabled-link">Главная / </a><a class="disabled-link">История бронирований / </a><a class="link">Бронирование</a>
  </div>
  <form class="booking-form">
    <div class="booking-form-group">
      <div class="form-element">
        <p class="booking-text">Бронирование</p>
      </div>
      <div class="form-element">
        <div class="booking-info flex-container">
          <div class="box">
            <div class="icon-place">
              <img class="outline" src="../../../assets/images/outline.svg">
              <img  class="outline__icon" src="../../../assets/icons/success.svg">
            </div>
            <div class="notifications">
              <p class="booking-success">Вы успешно забронировали</p>
              <p class="booking-sms-notification">Вы получите SMS-оповещение за день до игры</p>
              <p class="booking-link-to-home link">Перейти на главную страницу</p>
            </div>

          </div>
          <div class="flex-item">
            <div class="booking-date">
              <span class="time">17:00</span><span class="date">02 марта</span>
            </div>
            <div class="booking-info-element">
              <table>
                <tr>
                  <td>
                    <span class="info-field">Площадка:</span>
                  </td>
                  <td>
                    <span class="description-field">Поле по Толе Би</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="info-field">Адрес:</span>
                  </td>
                  <td>
                    <span class="description-field">ул. Толе Би, 128</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="info-field">Длительность:</span>
                  </td>
                  <td>
                    <span class="description-field">1:30 (полтора часа)</span>
                  </td>
                  <td class="last-column">
                    <span class="description-field">2000₸</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="info-field">Клиент:</span>
                  </td>
                  <td>
                    <span class="description-field">Алибек Намазбаев</span>
                  </td>
                </tr>
                <tr>
                  <td class="last-row">
                    <span class="info-field">Телефон:</span>
                  </td>
                  <td class="last-row">
                    <span class="description-field">+7 708 537 33 59</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <button class="booking-edit">Редактировать</button>
                  </td>
                  <td>

                  </td>
                  <td class="last-column">
                    <button class="booking-reject">Отменить</button>
                  </td>
                </tr>
              </table>

            </div>


          </div>

        </div>
      </div>


    </div>
  </form>

</div>
