.main {
  display: flex;
  flex-direction: column;
}

.header {
  height: 80%;
}

.search {
  height: 700px;
  background-image: url("~/assets/images/main.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-position: center center;
  margin-top: -79px;
}

.footer {
  flex: 1 1 auto;
}
