.registration-container{
  max-width: 1280px;
  width: 100%;
  align-items: center;
  max-height: 760px;
  height: 100%;
  margin: auto auto 60px;
}
.registration-form{
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 12px;
  width: 366px;
  align-items: center;
  margin:20px auto 0;
}
.registration-text{
  margin: 24px 0 20px;
  width: 120px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #4965F9;
}
.registration-form-group{
  margin-left: 24px;
}
input{
  border: none;
  border-bottom: 0.5px solid #303030;
  width: 300px;
}
.require{
  color: red;
  text-decoration: none;
}
label{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
::placeholder{
  color: black;
  opacity: 0.6;
}
.notation{
  width: 294px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #303030;
  opacity: 0.6;
  margin-bottom: 24px;
}
.notation-center{
  width: 117px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #303030;
  opacity: 0.6;
  text-decoration: none;
}
button{
  width: 318px;
  height: 40px;
  color: white;
  border-radius: 6px;
}

button.confirm{
  background: #4965F9;
  border: none;

  &:disabled {
    background-color: #BDC7FC;
    cursor: not-allowed;
  }
}

.form-element{
  margin-bottom: 20px;
}

.form-element-num{
  margin-bottom: 10px;
}

.input {
  background: #ffffff;
}

.validation {
  font-size: 13px;
  line-height: 15px;
  color: #EB0531;
  margin-top: 16px;
}
.box {
  display: flex;
  justify-content: center;
  margin: auto;
}

.sms-title {
  display: flex;
  text-align: center;
  width: 68%;
  margin: 0 auto 24px;
}
.pass {
  display: flex;
  border-bottom: 0.5px solid #303030;
  margin-right: 18px;

  img {
    cursor: pointer;
  }

  input {
    outline: none;
    border: none;
  }
}

.show__btn {
  outline: none;
  width: inherit;
  height: inherit;
  border: none;
  background: #FFFFFF;
}
