<div class="registration-container">
  <form class="registration-form" [formGroup]="registrationForm" (ngSubmit)="submitForm()">

    <div class="registration-form-group">

        <h2 class="registration-text">Регистрация</h2>

      <div class="form-element">
        <label for="name">Имя</label><a class="require">*</a><br>
        <input id="name" name="name" placeholder="Введите имя" formControlName="name">

        <div
          class="validation"
          *ngIf="registrationForm.get('name').touched && registrationForm.get('name').invalid">
          <p
            *ngIf="registrationForm.get('name').errors.required"
          >
            Введите ваше Имя
          </p>
        </div>
      </div>

      <div class="form-element">
        <label for="surname">Фамилия</label><a class="require">*</a><br>
        <input id="surname" name="surname" placeholder="Введите фамилию" formControlName="surname">

        <div
          class="validation"
          *ngIf="registrationForm.get('surname').touched && registrationForm.get('surname').invalid">
          <p
            *ngIf="registrationForm.get('surname').errors.required"
          >
            Введите вашу Фамилию
          </p>
        </div>
      </div>

      <div class="form-element">
        <label for="email">Почта</label><a class="require">*</a><br>
        <input id="email" name="email" placeholder="Введите @mail" formControlName="email">

        <div
          class="validation"
          *ngIf="registrationForm.get('email').touched && registrationForm.get('email').invalid">
          <p
            *ngIf="registrationForm.get('email').errors.required"
          >
            Введите ваш @mail
          </p>
        </div>
      </div>

      <div class="form-element">
        <label for="password">Пароль</label><a class="require">*</a><br>
        <div class="pass">
          <input id="password" name="password" placeholder="Введите пароль" formControlName="password" [type]="hidePassword ? 'password' : 'text'">
          <button class="show__btn" (click)="hidePassword = !hidePassword">
            <img [src]="hidePassword ? 'assets/icons/show-pass.svg' :'assets/icons/password-hide.svg'" alt="">
          </button>
        </div>

        <div
          class="validation"
          *ngIf="registrationForm.get('password').touched && registrationForm.get('password').invalid"
        >
          <p *ngIf="registrationForm.get('password').errors.required">
            Введите пароль
          </p>
          <p *ngIf="registrationForm.get('password').errors.minlength">
            Пароль должен быть не менее {{registrationForm.get('password').errors.minlength.requiredLength}} символов
          </p>
        </div>

      </div>

      <div class="form-element">
        <label for="confirmPassword">Повторите пароль</label><a class="require">*</a><br>
        <div class="pass">
          <input id="confirmPassword" name="confirmPassword" placeholder="Повторите пароль" formControlName="confirmPassword" [type]="hideRepeatPassword ? 'password' : 'text'">
          <button class="show__btn" (click)="hideRepeatPassword = !hideRepeatPassword">
            <img [src]="hideRepeatPassword ? 'assets/icons/show-pass.svg' :'assets/icons/password-hide.svg'" alt="">
          </button>
        </div>

        <div
          class="validation"
          *ngIf="registrationForm.get('confirmPassword').touched && registrationForm.get('confirmPassword').invalid"
        >
          <p *ngIf="registrationForm.get('confirmPassword').errors.required">
            Повторите пароль
          </p>

          <p *ngIf="f.confirmPassword.errors.confirmedValidator">
            Пароли не совпадают
          </p>
        </div>
      </div>

      <div class="form-element-num">
        <label for="phone">Номер телефона</label><a class="require">*</a><br>
        <input
          id="phone"
          inputmode="numeric"
          name="phone"
          type="tel"
          prefix="+7 "
          mask="000 000 00 00"
          formControlName="phone"
          autocomplete="one-time-code"
        >

        <div
          class="validation"
          *ngIf="registrationForm.get('phone').touched && registrationForm.get('phone').invalid">
          <p *ngIf="registrationForm.get('phone').errors.required">
            Введите номер
          </p>
          <p *ngIf="registrationForm.get('phone').errors.minlength">
            Номер должен быть не менее {{registrationForm.get('phone').errors.minlength.requiredLength}} символов
          </p>
        </div>

      </div>

      <div class="form-element">
        <p class="notation">
          Введите свой номер телефона. На указанный номер будет отправлено SMS с кодом.
        </p>
        <button type="submit" class="confirm" [disabled]="registrationForm.invalid">Подтвердить</button>
      </div>

      <div class="form-element" style="text-align: center">
        <a class="notation-center">Уже есть аккаунт?</a><a href="/login" style="margin-left: 6px">Войти</a>
      </div>
    </div>
  </form>

</div>

<app-modal *ngIf="modalSms" id="sms">
  <h1 class="sms-title">На ваш телефон отправлен SMS с кодом для подтверждения</h1>
  <app-send-sms class="box" (close)="closeModal('sms')"></app-send-sms>
</app-modal>
