<div class="container">
  <div class="links">
    <a class="disabled-link">Главная / </a><a class="link">Счёт</a>
  </div>
  <div class="check-container">
    <div class="flex-container">
      <div class="flex-item">
        <p class="text">Счёт</p>
        <div class="flex-subitem">
          <div class="flex-subitem-container">


          <div class="balance">
            <p class="balance__amount">{{amount}}</p>
            <p class="balance__text">Сумма баланса</p>

          </div>
          <div class="info">
            <p class="info-item"><img src="assets/icons/info.svg" class="info-text">Перед бронированием пополняйте ваш счёт</p>
          </div>
          <button class="pay" (click)="toBook()">Пополнить</button>

        </div>
        </div>
      </div>
      <div class="flex-item">
        <p class="text">Промокоды</p>
        <div class="flex-subitem">
          <div class="flex-subitem-container">
            <div class="balance">
              <p class="amount">2</p>
              <p>Промокодов</p>

            </div>
            <div class="promo-codes">
              <p>QGNA</p>
              <p class="sum">500.00 ₸</p>

            </div>
            <div class="promo-codes">
              <p>QGNA</p>
              <p class="sum">500.00 ₸</p>

            </div>
            <button class="use">Использовать</button>
          </div>
        </div>
      </div>
<!--      <div class="flex-item">-->
<!--        <p class="text">История операций</p>-->
<!--        <div class="flex-subitem">-->
<!--          <div class="flex-subitem-container">-->
<!--            <div class="balance">-->
<!--              <p>23</p>-->
<!--              <p>Операций выполнено</p>-->

<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
    </div>

  </div>

</div>
