.container {
  width: 100%;
  align-items: center;
  max-height: 470px;
  height: 100%;
  margin: 20px auto 50px;
}

.links {
  margin-bottom: 20px;
  padding: 0 24px;
}
a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;

}
a.disabled-link {
  color: #303030;
  opacity: 0.7;
}
a.link {
  color: #303030;
}
.flex-container {
  display: flex;
  background: #FDFDFD;
  box-sizing: border-box;
}
.flex-item {

  margin: 0 20px;



}
.flex-subitem {
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  height: 310px;
}
.flex-subitem-container {
  margin: 24px;

}
.balance {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);

  &__amount {
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
  }

  &__text {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 23px;
    color: #303030;
    opacity: 0.6;
  }
}
.promo-codes {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 0.5px solid #C2C2C2;
}

.promo-codes p {
  display: inline;
}

.info {
  background: #D9DEFC;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 90px;
}
.info-item {
  display: flex;
  padding: 16px 24px;
  color: #4965F9;
  font-weight: bold;
}
.info-text {
  margin-right: 16px;
  margin-top: -2px;
}
.pay {
  width: 415px;
  height: 38px;

  background: #66D26A;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  outline: none;
  border: none;
}

.use {
  width: 222px;
  height: 38px;
  margin-top: 35px;

  background: #4965F9;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  outline: none;
  border: none;
}
.text {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  margin: 0 0 20px 4px;
}

.amount {
  font-size: 36px;
  line-height: 45px;
}

.sum {
  color: #303030;
  opacity: 0.6;
}

@media screen and (max-width: 360px){
  .container {
    align-items: center;
    max-width: 360px;
    width: 100%;
    max-height: 1060px;
    height: 100%;
    margin: 15px auto;
  }

  .links {
    display: none;
  }
  .flex-container {
    flex-direction: column;
  }
  .flex-item {
    margin: 20px 0;
  }
  .flex-subitem {
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    height: 277px;
    width: 330px;
  }
  .pay{
    width: 298px;
    height: 55px;
  }

  .use{
    display: none;
  }
  .info {
    background: #D9DEFC;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

}
