footer{
  max-height: 170px;
  height: 100%;
  width: 100%;
  align-items: center;
  border-top-color: gray;
}
.row{
  margin-top: 40px;
  margin-bottom: 33px;
}
.footer-description{
  margin-left: 70px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  color: #fff;
  opacity: 0.6;

}

.footer-left-side{
  margin-left: 71px;
  display: flex;
  flex-direction: column;

}
.footer-right-side{
  margin-left: 135px;
  display: flex;
  flex-direction: column;
}
.footer-element{
  text-decoration: none;
}
a{
  padding-bottom: 20px;
  color: #fff;
  opacity: 0.6;
}

.footer-mobile{
  display: none;
}

@media screen and (max-width: 360px){
  footer{
    max-height: 313px;
    height: 100%;
    max-width: 360px;
    width: 100%;
    align-items: center;
    border-top-color: gray;
  }
  .row{
    display: none;
  }
  .footer-mobile{
    display: flex;
    flex-direction: column;
  }
  .footer-description{
    margin-left: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    color: #fff;

    margin-bottom: 10px;

  }
  .footer-element{
    margin-left: 10px;

  }
}
